main{
    color: gray;
    font-size: 40px;
    text-align: center;
    text-decoration:none;
   
}
#title{
    color: dodgerblue;
    font-variant-caps: small-caps;
    
}
p{
    text-align: left;
}
.modified-body{
    
    background-color:cyan
}
ul{
    list-style-image:"none"
}
li{
    text-decoration: none;
    font-variant-caps: small-caps;    
    color:teal;
    border-radius: 20% 3px black;
    background-color: lightslategray;
    list-style-type:none
   
}
#p1{
    color: indianred;
}
#p2{
    color: lawngreen;
}